name: Excavator

on:
  schedule:
    - cron: "0 * * * *"

jobs:
  excavator:
    name: Excavator
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Excavate
        uses: Ash258/Scoop-GithubActions@stable
        env:
          GITH_EMAIL: therandomlabsinc@gmail.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SKIP_UPDATED: "1"
